## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Cockburn Town,TC,21.4612,-71.1419,77.94,69,0,16.89,clear sky
1,1,Barrow,US,71.2906,-156.7887,-21.98,76,0,6.91,clear sky
2,2,Farafangana,MG,-22.8167,47.8333,76.62,85,77,8.34,light rain
3,3,Albany,US,42.6001,-73.9662,27.43,91,100,7.00,snow
4,4,Puerto Carreno,CO,6.1890,-67.4859,98.29,32,89,7.45,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Cockburn Town,TC,21.4612,-71.1419,77.94,69,0,16.89,clear sky
2,2,Farafangana,MG,-22.8167,47.8333,76.62,85,77,8.34,light rain
7,7,Vaini,TO,-21.2000,-175.2000,75.36,100,75,1.14,broken clouds
11,11,San Cristobal,VE,7.7669,-72.2250,75.38,55,95,2.82,overcast clouds
12,12,Puerto Ayora,EC,-0.7393,-90.3518,87.76,86,33,7.00,scattered clouds
17,17,Neiafu,TO,-18.6500,-173.9833,80.67,73,97,5.14,moderate rain
18,18,Pundaguitan,PH,6.3711,126.1689,81.61,80,85,10.56,overcast clouds
32,32,Carnarvon,AU,-24.8667,113.6333,76.32,74,4,17.65,clear sky
35,35,Katobu,ID,-4.9408,122.5276,76.08,94,75,3.29,broken clouds
39,39,Georgetown,MY,5.4112,100.3354,82.33,83,20,0.00,few clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                215
City                   215
Country                214
Lat                    215
Lng                    215
Max Temp               215
Humidity               215
Cloudiness             215
Wind Speed             215
Current Description    215
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df = preferred_cities_df.dropna(how='any')
preferred_cities_df.count()

City_ID                214
City                   214
Country                214
Lat                    214
Lng                    214
Max Temp               214
Humidity               214
Cloudiness             214
Wind Speed             214
Current Description    214
dtype: int64

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Cockburn Town,TC,77.94,clear sky,21.4612,-71.1419,
2,Farafangana,MG,76.62,light rain,-22.8167,47.8333,
7,Vaini,TO,75.36,broken clouds,-21.2000,-175.2000,
11,San Cristobal,VE,75.38,overcast clouds,7.7669,-72.2250,
12,Puerto Ayora,EC,87.76,scattered clouds,-0.7393,-90.3518,
17,Neiafu,TO,80.67,moderate rain,-18.6500,-173.9833,
18,Pundaguitan,PH,81.61,overcast clouds,6.3711,126.1689,
32,Carnarvon,AU,76.32,clear sky,-24.8667,113.6333,
35,Katobu,ID,76.08,broken clouds,-4.9408,122.5276,
39,Georgetown,MY,82.33,few clouds,5.4112,100.3354,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Cockburn Town,TC,77.94,clear sky,21.4612,-71.1419,Osprey Beach Hotel
2,Farafangana,MG,76.62,light rain,-22.8167,47.8333,Miarina
7,Vaini,TO,75.36,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
11,San Cristobal,VE,75.38,overcast clouds,7.7669,-72.2250,Pirineos
12,Puerto Ayora,EC,87.76,scattered clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
17,Neiafu,TO,80.67,moderate rain,-18.6500,-173.9833,Mystic Sands Beachfront Accommodation
18,Pundaguitan,PH,81.61,overcast clouds,6.3711,126.1689,Leonardo Family Beach House 1
32,Carnarvon,AU,76.32,clear sky,-24.8667,113.6333,Hospitality Carnarvon
35,Katobu,ID,76.08,broken clouds,-4.9408,122.5276,La Ode Husein
39,Georgetown,MY,82.33,few clouds,5.4112,100.3354,Cititel Penang

In [23]:
hotel_df.dtypes

City                    object
Country                 object
Max Temp               float64
Current Description     object
Lat                    float64
Lng                    float64
Hotel Name              object
dtype: object

In [31]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df = hotel_df[hotel_df["Hotel Name"] != ""]
hotel_df.count()

City                   202
Country                202
Max Temp               202
Current Description    202
Lat                    202
Lng                    202
Hotel Name             202
dtype: int64

In [32]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_search/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [37]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [38]:
# 11a. Add a marker layer for each city to the map. 
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))