In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Katsuura,JP,2022-03-11 22:32:35,35.1333,140.3000,55.72,54,0,6.87
1,1,Busselton,AU,2022-03-11 22:25:20,-33.6500,115.3333,67.48,80,15,6.73
2,2,Pisco,PE,2022-03-11 22:28:59,-13.7000,-76.2167,75.25,73,0,11.50
3,3,Fukue,JP,2022-03-11 22:32:36,32.6881,128.8419,61.59,76,76,5.97
4,4,Hobart,AU,2022-03-11 22:27:15,-42.8794,147.3294,62.26,70,20,9.22

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
%matplotlib inline
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
temps = []
max_temp = city_data_df["Max Temp"]
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
#heat_layer = gmaps.heatmap_layer(locations, weights=temps) - alternate version
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig
#fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Pisco,PE,2022-03-11 22:28:59,-13.7000,-76.2167,75.25,73,0,11.50
8,8,Georgetown,MY,2022-03-11 22:25:27,5.4112,100.3354,80.53,93,20,1.14
9,9,Rikitea,PF,2022-03-11 22:30:58,-23.1203,-134.9692,78.13,70,3,1.48
21,21,Tautira,PF,2022-03-11 22:32:39,-17.7333,-149.1500,80.74,69,27,8.95
29,29,Coahuayana,MX,2022-03-11 22:32:40,18.7333,-103.6833,82.87,46,10,7.56
30,30,Morant Bay,JM,2022-03-11 22:32:40,17.8815,-76.4093,82.71,81,3,10.60
35,35,Souillac,MU,2022-03-11 22:25:19,-20.5167,57.5167,79.18,89,40,3.44
37,37,Grand Gaube,MU,2022-03-11 22:26:40,-20.0064,57.6608,79.20,88,13,14.12
39,39,Atuona,PF,2022-03-11 22:25:24,-9.8000,-139.0333,78.89,75,84,17.00
40,40,Sorong,ID,2022-03-11 22:32:41,-0.8833,131.2500,79.75,81,100,3.89

In [11]:
preferred_cities_df.count()

City_ID       162
City          162
Country       162
Date          162
Lat           162
Lng           162
Max Temp      162
Humidity      162
Cloudiness    162
Wind Speed    162
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
2         Pisco      PE     75.25 -13.7000  -76.2167
8    Georgetown      MY     80.53   5.4112  100.3354
9       Rikitea      PF     78.13 -23.1203 -134.9692
21      Tautira      PF     80.74 -17.7333 -149.1500
29   Coahuayana      MX     82.87  18.7333 -103.6833
30   Morant Bay      JM     82.71  17.8815  -76.4093
35     Souillac      MU     79.18 -20.5167   57.5167
37  Grand Gaube      MU     79.20 -20.0064   57.6608
39       Atuona      PF     78.89  -9.8000 -139.0333
40       Sorong      ID     79.75  -0.8833  131.2500

In [13]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [14]:
# Dependencies and Setup
import requests
import gmaps

# Import API key
from config import g_key

In [18]:
# Set the parameters to search for a hotel in Paris.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location": "48.8566, 2.3522"}
# Use base URL to search for hotels in Paris.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# Make request and get the JSON data from the search.
hotels = requests.get(base_url, params=params).json()

hotels
len(hotels["results"])

20

In [22]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [24]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Pisco,PE,75.25,-13.7000,-76.2167,Hotel San Isidro Oficial
8,Georgetown,MY,80.53,5.4112,100.3354,Cititel Penang
9,Rikitea,PF,78.13,-23.1203,-134.9692,People ThankYou
21,Tautira,PF,80.74,-17.7333,-149.1500,Pension Oaoa
29,Coahuayana,MX,82.87,18.7333,-103.6833,El rranchito michuacan de ocampos
30,Morant Bay,JM,82.71,17.8815,-76.4093,Whispering Bamboo Cove Resort
35,Souillac,MU,79.18,-20.5167,57.5167,Shanti Maurice Resort & Spa
37,Grand Gaube,MU,79.20,-20.0064,57.6608,Veranda Paul et Virginie Hotel & Spa
39,Atuona,PF,78.89,-9.8000,-139.0333,Villa Enata
40,Sorong,ID,79.75,-0.8833,131.2500,Waigo Splash Hotel

In [25]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
info_box_template = """
<dl>
<dt>Name</dt><dd>{column1}</dd>
<dt>Another name</dt><dd>{column2}</dd>
</dl>
"""

In [28]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [29]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [30]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))