## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Cockburn Town,TC,77.94,clear sky,21.4612,-71.1419,Osprey Beach Hotel
1,2,Farafangana,MG,76.62,light rain,-22.8167,47.8333,Miarina
2,7,Vaini,TO,75.36,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
3,11,San Cristobal,VE,75.38,overcast clouds,7.7669,-72.2250,Pirineos
4,12,Puerto Ayora,EC,87.76,scattered clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["Hotel Name"]=="ibis Styles Karratha")]
vacation_end = vacation_df.loc[(vacation_df["Hotel Name"]=="ibis Styles Karratha")]
vacation_stop1 = vacation_df.loc[(vacation_df["Hotel Name"]=="Moondarra Motel")]
vacation_stop2 = vacation_df.loc[(vacation_df["Hotel Name"]=="Hotel Kununurra")]
vacation_stop3 = vacation_df.loc[(vacation_df["Hotel Name"]=="East Arnhem Real Estate")]

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
print(start)
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
print(end)
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
print(stop1)
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
print(stop2)
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]
print(stop3)

(-20.7377, 116.8463)
(-20.7377, 116.8463)
(-17.5333, 146.0333)
(-15.7667, 128.7333)
(-12.2333, 136.7667)

In [22]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

gmaps.configure(api_key=g_key)
fig = gmaps.figure()
center_coordinates = (-25.4296, 133.5061) # center of Australia
australia = gmaps.directions_layer(start,end,waypoints =[stop2,stop3,stop1],travel_mode="DRIVING")
fig.add_layer(australia)
gmaps.figure(center=center_coordinates, zoom_level=1)
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
start.dtype

AttributeError: 'tuple' object has no attribute 'dtype'

In [27]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_end,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,385,Karratha,AU,86.94,clear sky,-20.7377,116.8463,ibis Styles Karratha
1,385,Karratha,AU,86.94,clear sky,-20.7377,116.8463,ibis Styles Karratha
2,446,Innisfail,AU,76.37,light rain,-17.5333,146.0333,Moondarra Motel
3,601,Kununurra,AU,78.78,broken clouds,-15.7667,128.7333,Hotel Kununurra
4,640,Nhulunbuy,AU,83.01,overcast clouds,-12.2333,136.7667,East Arnhem Real Estate

In [30]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [32]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))